<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HL7Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HL7Tester.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HL7Tester.Properties.Settings>
            <setting name="LastUpgradeVersion" serializeAs="String">
                <value>Profile="(Default)"</value>
            </setting>
            <setting name="AutoUpdateCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIpAddress1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIpAddress2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIpAddress3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIpAddress4" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIpAddress5" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIpAddress6" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIpAddress7" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIpAddress8" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIpAddress9" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort4" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort5" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort6" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort7" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort8" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort9" serializeAs="String">
                <value />
            </setting>
        </HL7Tester.Properties.Settings>
        <HL7Tester.Settings1>
            <setting name="LastIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>0</value>
            </setting>
        </HL7Tester.Settings1>
    </userSettings>
</configuration>